<div>
  <p>
    <strong> Minimum Distance </strong>
    <%= delivery_time.min_distance %>
  </p>

  <p>
    <strong> Maximum Distance </strong>
    <%= delivery_time.max_distance %>
  </p>

  <p>
    <strong> Business Days </strong>
    <%= delivery_time.business_days %>
  </p>

</div>