<h1 class="text-center display-4 bg-dark text-white">  Tempo de entrega para distâncias:  <%= @delivery_time.min_distance %> KM até <%= @delivery_time.max_distance %> KM</h1>

<%= render @delivery_time %>

<div class="d-flex justify-content-center">
  <%= link_to "Editar", edit_company_delivery_time_path(@delivery_time.company_id, @delivery_time.id), :class => "btn btn-primary mt-3" %>
</div>
