<h1 class="text-center"> Preços para o pacote </h1>

<table class="table">
  <thead>
  <tr>
    <th>Transportadora</th>
    <th>Preço para envio</th>
    <th>Tempo para entrega</th>
  </tr>
  </thead>
  <tbody>

  <% @results.each do |result| %>
    <tr>
      <td><%= result[:company_name] %></td>
      <td>R$<%= result[:price] %></td>
      <td><%= result[:delivery_time] %> Dias úteis</td>
    </tr>
  <% end %>
  </tbody>
</table>
