<h1 class="text-center"> Preços para o pacote </h1>

<table class="table">
  <thead>
  <tr>
    <th>Transportadora</th>
    <th>Preço para envio</th>
    <th>Tempo para entrega </th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |result| %>
  <tr>
    <td><%= result[0] %></td>
    <td>R$<%= result[1] / 100 %></td>
    <td><%= result[2] %> Dias úteis</td>
  </tr>
  <% end %>
  </tbody>
</table>


