<div class="container mt-5">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="row"> <%= RouteUpdate.human_attribute_name(:city) %> </th>
        <th scope="row"> <%= RouteUpdate.human_attribute_name(:time) %> </th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td> <%= route_update.city %> </td>
        <td> <%= route_update.time %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


