<div class="d-flex justify-content-center">
  <p>
    <strong> <%= RouteUpdate.human_attribute_name(:city) %> :  </strong>
    <%= route_update.city %> ||
  </p>

  <p>
    <strong> <%= RouteUpdate.human_attribute_name(:time) %> : </strong>
    <%= route_update.time %>
  </p>
</div>


