<div class="d-flex justify-content-center p-3 mb-2 bg-light text-dark">

  <p>
    <strong> <%= RouteUpdate.human_attribute_name(:city) %> : </strong>
    <%= route_update.city %> ||
  </p>

  <p>
    <strong> <%= RouteUpdate.human_attribute_name(:time) %> : </strong>
    <%= route_update.time %>
  </p>
</div>


