<h1>Route Updates</h1>

<div>
  <% @route_updates.each do |route_update| %>
    <%= render route_update%>
    <p>
      <%= link_to "Show this Route Update", company_service_order_route_update_path(@company, @service_order, route_update) %>
    </p>
  <% end %>
</div>

<% if @route_updates.empty? %>
  <p>No route updates yet!</p>
<% end %>

<%= link_to "New Route Update", new_company_service_order_route_update_path %>