<div>
  <p>
    <strong>Corporate Name</strong>
    <%= company.corporate_name %>
  </p>

  <p>
    <strong>Trading Name</strong>
    <%= company.trading_name %>
  </p>

  <p>
    <strong>Registration Number</strong>
    <%= company.registration_number %>
  </p>

  <p>
    <strong>Status</strong>
    <%= company.status %>
  </p>

</div>