<h1>Companies</h1>

<div>
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to "Show this company", company %>
    </p>
  <% end %>
</div>

<% if @companies.empty? %>
  <p>No companies yet!</p>
<% end %>
