<h1>Prices</h1>

<div>
  <% @prices.each do |price| %>
    <%= render price %>
    <p>
      <%= link_to "Show this price", company_price_path(@company, price) %>
    </p>
  <% end %>
</div>

<% if @prices.empty? %>
  <p>No prices yet!</p>
<% end %>
<%= link_to "New Price", new_company_price_path %>