<h1>Vehicles</h1>

<div>
  <% @vehicles.each do |vehicle| %>
    <%= render vehicle %>
    <p>
      <%= link_to "Show this vehicle", company_vehicle_path(@company, vehicle) %>
    </p>
  <% end %>
</div>

<% if @vehicles.empty? %>
  <p>No vehicles yet!</p>
<% end %>

<%= link_to "New Vehicle", new_company_vehicle_path %>