<h1> Vehicle <%= @vehicle.license_plate %></h1>

<%= render @vehicle %>

<div>
  <%= link_to "Edit this vehicle", edit_company_vehicle_path(@vehicle) %> |
  <%= link_to "Back to vehicles", company_vehicles_path %>
</div>
