<h1 class="text-center display-4 bg-dark text-white"> Veículo <%= @vehicle.license_plate %></h1>

<%= render @vehicle %>

<div class="d-flex justify-content-center">
  <%= link_to "Editar veículo", edit_company_vehicle_path(@vehicle) %> |
  <%= link_to "Voltar", company_vehicles_path %>
</div>
