<h1 class="text-center"> <%= Product.model_name.human %> </h1>

<div class="d-flex justify-content-center">
  <% @products.each do |product| %>
    <%= render product %> ||
    <p>
      <%= link_to "Ver", product %>
    </p>
  <% end %>
</div>

<% if @products.empty? %>
  <p> Nenhum produto cadastrado! </p>
<% end %>

<div class="d-flex justify-content-center">
<%= link_to "Novo Produto", new_product_path %>
</div>